<!doctype html>
<html>
  <head>
    <title>Fetch Rewards Code Challenge</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1><%= word.isPyramid() %></h1>
      <a href="/pyramid">
        <button>Check another word!</button>
      </a>
    </header>
  </body>
</html>
